h1 {
  margin: 50px 0;
  text-align: center;
  font-size: 50px;
}

img {
  margin: auto;
  display: block;
}

p {
  margin: 50px auto;
  font-size: 25px;
  width: 60%;
  text-align: center;
}
